<!DOCTYPE html>
<head>
<title>Big At Heart</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" href="homepage.css">
</head>
<body>
    <header>
        <div class="headerLeft">
            <img src="../images/big at heart logo.png">
        </div>
        <div class="headerMid">
            <input placeholder="Search" class="searchbar">
            <button class="searchbutton">
                <img src="../images/search-icon copy.png">
            </button>
        </div>
        <div class="headerRight">
            <a class="login" href="../login">
                <img src="../images/png-transparent-anonymous-person-login-google-account-computer-icons-user-activity-miscellaneous-computer-monochrome.png">
                <div class="log">Log in</div>
            </a>
        </div>
    </header>

    <main>
        <div class="event-div">Our Events</div>
        <div class="filter">
            <p>Beneficiary groups</p>
            <div class="beneficiaryCats"></div>
        </div>
        <div class="mainHomepage">
            <div class="activities"></div>
        </div>
    </main>
</body>
<script src="../data/events.js"></script>
<script src="../data/beneficiariesGrps.js"></script>
<script src="../homepage.js"></script>
