

body {
    margin: 0;
    background-color: rgb(247, 244, 245);
    color-scheme: light;
    font-family: Noto serif;
    display: flex;
    flex-direction: column;
}

p{
    font-family: Noto serif;
    margin:0px;
    display: block;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 5px rgb(162, 167, 170);
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
}

.logo{
    width: 100px; 
}

.header-left{
    padding-left:20px;
    padding-right: 20px;
    width: 130px;
}

.header-right p{
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 9px;
    color: rgb(195, 117, 117);
    font-weight: bold;
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    border-style: solid;
    border-color: rgb(239, 239, 245);
    justify-content: space-between;
    border-radius: 12px;
    font-size: 17px;
    background-color: rgb(239, 239, 245);
    width:163px;
    height: 30px;
    margin-left: 30px;
}

.generate:hover{
    background-color:rgb(200, 200, 200);
    cursor: pointer;
    border-radius:12px;
}

.activity:hover{
    cursor:pointer;
}

.activity{
    width: 80px;
    margin-right: 5px;
    background-color: #051938;
    color: white;
    border-style:solid;
    border-radius:12px;
    text-align: center;
}

.generate{
    width: 90px;
    text-align:center;
}


main {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 17px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1300px;
    color: black;
}

.activities-header{
    font-size: 55px;
    margin:0px;
    display: block;
    width: 100%;
}

.activity-status{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(5, 25, 45, 0.2);
    margin-bottom: 35px;
}

.right,
.middle,
.left,
.new{
    margin-right: 18px;
    margin-bottom: 7px;
}

.new{
    margin-bottom: -2px;
    border-bottom: 2px solid black;
}

.left, .middle, .right{
    color: rgba(5, 25, 45, 0.2);
}

.right:hover,
.middle:hover,
.left:hover,
.new:hover{
    cursor:pointer;
    border-bottom: 2px solid rgb(5, 25, 45);
    margin-bottom: -2px;
}

h1{
    font-size: 20px;
    align: top;
    font-weight: 400;
}

.eventAddDiv{
    background-color: white;
    font-family: Noto serif;
    padding: 25px;
    border-radius: 20px;
    width: 500px;
    height: contain;
    margin-left: 387px;
    border: 1px solid rgb(219, 179, 179);
}

.new-event{
    text-align: center;
    font-size: 25px;
    margin-bottom: 7px;
    height: 50px;
}

.input{
    margin-bottom: 7px;
    margin-top: 5px;
    width: 100%;
    height: 23px;
    display: block;
}

.errorNotice{
    font-size: 11px;
    color: rgb(184, 61, 61);
    margin-top: 4px;
}

button{
    font-family: Noto serif;
    border-radius: 12px;
    border-style: solid;
    font-size: 15px;
    background-color: rgb(219, 179, 179);
    transition: 0.35s;
    cursor: pointer;
    border-color: grey;
    width: 80px;
    width: contain;
}

button:hover,
.file-input:hover{
    box-shadow: -1px 1.5px 2px rgb(103, 106, 108); 
    opacity: 80%;
}

.loginButtons{
    text-align: center;
    margin-top: 9px;
}

